.titre-administrator {
    font-weight: bold;
    color: red;
}

.titre-gestionnaire {
    font-weight: bold;
    color: blue;
}

.titre-utilisateur {
    font-weight: bold;
    color: green;
}

.image-utilisateur {
    width: 200px;
    height: 200px;
}

.custom-button {
  background-color: #ff0000; /* Couleur personnalisée */
  color: #ffffff; /* Couleur du texte */
}